/* Prevent page from scrolling */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.bg-image {
  position: relative;
  background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3)), url('./assets/frnt1.png');
  height: 100vh; /* Full viewport height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-content {
  position: absolute;
  top: 50%;  /* Vertically centers the text-content */
  left: 50%; /* Horizontally centers the text-content */
  transform: translate(-50%, -50%); /* Exact centering both horizontally and vertically */
  text-align: center;
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 16px;
  color: #fff;
  font-size: 80px;
  margin-bottom: 32px;
}
